.class {
    border: none;
    width: max-content;
    color: #fff;
    border-radius: 6px;
    padding: 0.5em 1em;
}
.tool {
    background: #4a5568; /* 柔和深灰藍 */
}

.other {
    background: #718096; /* 柔和灰藍 */
}

.appinventor {
    background: #fbbf77; /* 柔和橙色 */
}

.Construct2 {
    background: #d266a3; /* 柔和粉紫 */
}

.teachable {
    background: #3a719d; /* 柔和藍色 */
}

.library {
    background: #ffe082; /* 柔和黃色 */
    color: #333;
}

.game {
    background: #d1aaff; /* 柔和紫色 */
}

.python {
    background: linear-gradient(to left, #90caf9, #ffe082); /* 柔和藍黃漸層 */
}

.smartApp {
    background: #f28b82; /* 柔和紅色 */
}

.web {
    background: #158aff; /* 柔和藍色 */
}
