* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
    text-decoration: none;
}

body {
    background: #fff;
}

article {
    margin: 20px auto;
    width: 80%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article>.btn {
    width: 250px;
    height: 45px;

    margin: 10px;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    transition: all 0.1s;
}

article>.btn:nth-child(3n-2) {
    border: 1px solid red;
    background: red;
    color: #fff;
}

article>.btn:nth-child(3n-2):hover {
    box-shadow: 4px 4px 0px 0.1px #fff,
        4px 4px 0px 1px red;
    transform: translate(-5px, -5px);
}


article>.btn:nth-child(3n-1) {
    border: 2px solid aqua;
    color: #444;
}

article>.btn:nth-child(3n-1):hover {
    box-shadow: -10px -10px 0px 0.2px #fff,
        -10px -10px 0px 2px aqua,
        10px 10px 0px 0.2px #fff,
        10px 10px 0px 2px aqua;
    background: #fff;
    transform: scale(1.1);
}


article>.btn:nth-child(3n) {
    outline: none;
    background-color: rgba(100 100 100/25%);
    color: #666;
}

article>.btn:nth-child(3n):hover {
    box-shadow: 7px 7px 0px 0.1px rgba(100 100 100/25%),
        14px 14px 0px 0.1px rgba(100 100 100/ 20%);
    transform: translate(-14px, -14px);
}

.icon {
    width: 30px;
    height: 30px;
    margin: 10px;
    margin-left: -10px;
    border-radius: 4px;
}

#marker {
    position: absolute;
    top: -100px;
    left: 50%;
    margin-top: -5px;
    height: 50px;
    transition: .5s;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
}

#marker::before {
    content: '';
    width: 15px;
    height: 15px;
    border-right: 4px solid #ffd700;
    border-top: 4px solid #ffd700;
    transform: rotate(45deg) translate(-20px, 20px);
}

#marker::after {
    content: '';
    width: 15px;
    height: 15px;
    border-right: 4px solid #ffd700;
    border-top: 4px solid #ffd700;
    transform: rotate(225deg) translate(-20px, 20px);
}


@media(max-width:900px) {
    article {
        width: 100%;
    }
}