* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
    text-decoration: none;
}

body {
    background: #fff;
}

article {
    margin: 20px auto;
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 150px;
    height: 35px;

    margin: 20px;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    transition: all 0.1s;
}

article>.btn:nth-child(3n-2) {
    border: 1px solid red;
    background: red;
    color: #fff;
}

article>.btn:nth-child(3n-2):hover {
    box-shadow: 4px 4px 0px 0.1px #fff,
        4px 4px 0px 1px red;
    transform: translate(-5px, -5px);
}

article>.btn:nth-child(3n-1) {
    border: 1px solid red;
    color: red;
}

article>.btn:nth-child(3n-1):hover {
    box-shadow: -10px -10px 0px 0.1px #fff,
        -10px -10px 0px 1px red,
        10px 10px 0px 0.1px #fff,
        10px 10px 0px 1px red;
    background: #fff;
    transform: scale(1.1);
}

article>.btn:nth-child(3n) {
    outline: none;
    background-color: rgba(100 100 100/25%);
    color: #555;
}

article>.btn:nth-child(3n):hover {
    box-shadow: 7px 7px 0px 0.1px rgba(100 100 100/25%),
        14px 14px 0px 0.1px rgba(100 100 100/ 20%);
    transform: translate(-14px, -14px);
}