* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
    text-decoration: none;
}

body {
    background: #fff;
}

article {
    margin: 20px auto;
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 250px;
    height: 45px;

    margin: 10px;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    transition: all 0.1s;
}

.btn:nth-child(3n-2) {
    border: 1px solid red;
    background: red;
    color: #fff;
}

.btn:nth-child(3n-2):hover {
    box-shadow: 4px 4px 0px 0.1px #fff,
        4px 4px 0px 1px red;
    transform: translate(-5px, -5px);
}


.btn:nth-child(3n-1) {
    border: 2px solid aqua;
    color: #444;
}

.btn:nth-child(3n-1):hover {
    box-shadow: -10px -10px 0px 0.2px #fff,
        -10px -10px 0px 2px aqua,
        10px 10px 0px 0.2px #fff,
        10px 10px 0px 2px aqua;
    background: #fff;
    transform: scale(1.1);
}


.btn:nth-child(3n) {
    outline: none;
    background-color: rgba(100 100 100/25%);
    color: #666;
}

.btn:nth-child(3n):hover {
    box-shadow: 7px 7px 0px 0.1px rgba(100 100 100/25%),
        14px 14px 0px 0.1px rgba(100 100 100/ 20%);
    transform: translate(-14px, -14px);
}

.icon {
    width: 30px;
    height: 30px;
    margin: 10px;
    margin-left: -10px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 0.2px #333;
}

@media(max-width:900px) {
    article {
        width: 100%;
    }
}