<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>URL</title>
  <link rel="icon" href="./images/LOGO.jpg" />
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <script src="./js/vue.js"></script>
  <link rel="stylesheet" href="./css/index.css" />
  <link rel="stylesheet" href="./css/class.css" />
  <link rel="stylesheet" href="./css/footer.css" />
</head>

<body>
  <div id='app'>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark px-5">
      <a class="navbar-brand" href="#">Url</a>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
        </ul>
        <form class="d-flex my-2 my-lg-0">
          <input class="form-control me-sm-2" type="text" placeholder="Search" v-model="search">
        </form>
      </div>
    </nav>

    <main class="container-fluid pt-2">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center align-items-stretch g-4">
        <template v-for="product in products">
          <div class="col" v-if="onSearch(product)">
            <product-box>
              <template #title>
                <h2 class="fw-bold" v-html="product.title"></h2>
                <div v-for="cc in product.class" class="class mx-1 rounded-4 fw-bold" :class="cc">{{ cc }}</div>
              </template>
              <template #body>
                {{product.description}}
              </template>
              <template #control>
                <a class="link-primary fw-bold mx-1" :href="product.href" v-if="product.href">
                  Go To !
                </a>
                <a class="btn btn-primary mx-1" :href="product.download" download v-if="product.download">
                  下載
                </a>
                <button class="btn btn-secondary mx-1" v-if="product.copy" @click="copyToClipboard(product.copy)">
                  複製 CDN
                </button>

              </template>
            </product-box>
          </div>
        </template>
      </div>

    </main>
    <div class="footers">
      <footer>
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </footer>
    </div>
  </div>
  <script src="./js/index.js"></script>
</body>

</html>