.Imgmain {
    margin-top: 200px;
    width: 80%;
    height: 700px;
    display: flex;
    justify-content: center;
    transform: scale(1.5);
}

.Imgmain span {

    margin-right: 100px;
    font-size: 25px;
}

.child {
    transition: all 0.5s;
    position: absolute;
    opacity: 0.8;
}