<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoTxt</title>
    <link rel="stylesheet" href="./style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <section id="input">
        <form @submit.prevent="addTodo">
          <input type="text" v-model="todoInput" placeholder="請輸入代辦事項" />
          <button>+</button>
        </form>
        <p>
          <input type="file" @change="onUpload" />
        </p>
      </section>
      <h1 class="title">{{title}}</h1>
      <section id="list">
        <article class="col">
          <h2 class="title">Todo List</h2>
          <ul id="undone">
            <li v-for="todo,index in todolist" :key="todo.content">
              <input
                type="checkbox"
                @click="editTodoChecked(index)"
                :checked="todo.checked"
              />
              <div>{{todo.content}}</div>
              <button @click="editTodo(index)">編輯</button>
              <button @click="deleteTodo(index)">刪除</button>
            </li>
          </ul>
        </article>
      </section>
    </div>

    <script>
      const app = Vue.createApp({
        data() {
          return {
            title: "",
            todolist: [],
            todoInput: "",
          };
        },
        mounted() {
          if (localStorage.getItem("todoTodos")) {
            this.todolist = JSON.parse(localStorage.getItem("todoTodos"));
          }
        },
        methods: {
          onUpload(e) {
            const file = e.target.files[0];
            const render = new FileReader();
            render.readAsText(file);
            render.onload = () => {
              const datas = render.result.split("\r\n");
              this.title = datas.shift();

              datas.forEach((data) => {
                this.todolist.push({
                  checked: false,
                  content: data,
                });
              });
              console.log("Data 載入成功");
              this.updateLocalStorage();
            };
          },
          addTodo() {
            if (this.todoInput.trim() !== "") {
              this.todolist.push({ checked: false, content: this.todoInput });
              this.updateLocalStorage();
              this.todoInput = "";
            }
          },

          deleteTodo(index) {
            this.todolist.splice(index, 1);
            this.updateLocalStorage();
          },

          editTodo(index) {
            const updatedContent = prompt(
              "請輸入修改後的內容",
              this.todolist[index].content
            );
            if (updatedContent && updatedContent.trim() !== "") {
              this.todolist[index].content = updatedContent;
              this.updateLocalStorage();
            }
          },
          editTodoChecked(index) {
            this.todolist[index].checked = !this.todolist[index].checked;
            console.log(this.todolist[index].todo);
            this.updateLocalStorage();
          },
          updateLocalStorage() {
            localStorage.setItem("todoTodos", JSON.stringify(this.todolist));
            console.log("儲存成功");
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
